<mat-card class="container">
    <mat-card-header class="display">
        <img src="../../assets/Images/workflix-logo.svg" alt="W">
        <img src="../../assets/Images/workflix-logo-title.svg">
    </mat-card-header>
    <mat-card-content class="console">
        <p class="text">The File-Sharing and Blogging App !</p>
        <br><br>
        <p class="text">Java17, Angular, Spring, MySQL, Azure, GoogleCloud, ChatGPT, Typescript, Html/CSS </p>
    </mat-card-content>

    <mat-card-actions>
        <button class="mat-raised-btn" routerLink="/login" mat-raised-button>Enter</button>
    </mat-card-actions>

    <mat-card-footer class="footer">
        <span>
            <a href="https://github.com/garengh4/workflix-frontend" target="__blank"><img
                    src="../../assets/Images/logo-github.svg"></a>
            &nbsp;
            <a href="https://github.com/garengh4/workflix-backend" target="__blank"><img
                    src="../../assets/Images/logo-github.svg"></a>
        </span>
    </mat-card-footer>

</mat-card>