<div class="container p-3">
    <!-- <div style="margin: 30px;">
        <h1 style="text-align: center;">Chat GPT Example</h1>
        <div class="card"  *ngFor="let data of textList">
          <div class="card-header">
            <div class="input-group mb-3" >
              <input type="text" [(ngModel)]="data.text" class="form-control" placeholder="Add Your Text Here">
              <div class="input-group-append">
                <button type="button" (click)="generateText(data)" class="btn btn-primary">Generate</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">{{data.response}}</p>
          </div>
        </div>
      </div> -->
    <div class="title-of-page">
        <h3>Chat with ChatGPT</h3>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Enter openai API Key</mat-label>
            <input matInput placeholder="sk-xxxxxxxxxxxxxxxx" [(ngModel)]="openaiAPIKey">
            <button class="mat-raised-btn" (click)="setOpenaiAPIKey()">Submit</button>
        </mat-form-field>
    </div>
    <div *ngFor="let data of textList">
        <mat-form-field [style.fontSize]="'16px'" appearance="fill" style="width: 100%;">
            <mat-label>Enter your text here...</mat-label>
            <textarea [(ngModel)]="data.text" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="8"
                cdkAutosizeMaxRows="8"></textarea>
        </mat-form-field>
        <mat-form-field [style.fontSize]="'16px'" appearance="fill" style="width: 100%;">
            <mat-label>ChatGPT will respond here...</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="8"
                cdkAutosizeMaxRows="8">{{data.response}}</textarea>
        </mat-form-field>
        <button class="mat-raised-btn" (click)="generateText(data)">Generate</button>
    </div>
    <button class="mat-raised-btn" routerLink="/home">Back to Home</button>
</div>