<div class="container">

    <form  [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="display">
            <img src="../../assets/Images/workflix-logo.svg" alt="W">
        </div>
        <div class="login-form">
            <h2>Login to your account</h2>
            <input formControlName="emailId" type="text" placeholder="Email">
            <input formControlName="password" type="password" placeholder="Password">
            <button>Login</button>
        </div>

        <div>
            <p>Don't have an account? <a routerLink="/signup">Sign up </a></p>
        </div>
    </form>

</div>