*{
    box-sizing: border-box;
}

html,body{
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
}

/* 1. Container */
.container{
    background-color: #FFE1A8;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    height: 100vh;
    margin-top:8vh;
    margin-bottom:8vh;
    text-align: center;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 100px;
}

/* 1.1 Logo */
.logo p{
    color: #99582A;
    margin-top:8vh;
    margin-bottom: 2vh;
    padding: 0vh;
    font-size: 10vh;
    font-weight: bold;

}

/* 1.2 Welcome Message */
.welcomeMessage p{
    color: #99582A;
    font-size: 20px;
    font-weight: bold;
    margin: 0vh;
}

/* 1.3 Input form */
.input-form{
    margin: 0 auto;
    width: 200px;
    padding-top: 1vh;
    padding-bottom:1vh;

}

input, textarea{
    background-color: #4D4D4D ;
    color: #A1A1A1;
    border-radius: 5px;
    padding: 3px;
    margin: 8px;
}

/* 1.4 Login Button */
.login{
    margin: 0 auto;
    width:200px;

}

.login button{
    background-color: #99582A;
    color: white;
    border-radius: 8px;
    margin: 0 auto;
}

/* 1.5 Create an account  */
.signUp{
    color: #99582A;
}