.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 85%;
    overflow: hidden;
    position: absolute;
    background-color: #FFE1A8;
    flex-direction: column;
    margin-top: 4em;
}

/* controls logo size and placement */
.display {
    width: 12em;
    margin: 2em auto;
}


.mat-raised-btn {
    background-color: #99582A  !important;;
    color: white !important;
    border-radius: 8px;
    margin: 1em auto;
    width: 8em;
    height: 2em;
    display: block;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.6em;
}

@media screen and (min-width: 1900px) {
    .container {
        margin-left:20em;
    }
}