/* 1. Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 50em;
    overflow: hidden;
    position: absolute;
    background-color: #FFE1A8;
    flex-direction: column;
    margin-top: 5em;
}

.display {
    width: 16em;
}

.console {
    width: 15em;
}

input,
textarea {
    background-color: #4D4D4D;
    color: #A1A1A1;
    border-radius: 5px;
    padding: 3px;
    margin: 8px;
}

button {
    background-color: #99582A;
    color: white;
    border-radius: 8px;
    margin: 1em auto;
    width: 8em;
    height: 2em;
    display: block;
}