<div class="container">

    <form>
        <div class="display">
            <img src="../../assets/Images/workflix-logo.svg" alt="W">
        </div>
        <div class="add-profile-form">
            <h2>Add Category</h2>
            <mat-form-field>
                <mat-label>Category Name</mat-label>
                <input matInput formControlName="firstName">
            </mat-form-field>
            <button routerLink="/categories" class="mat-raised-btn"  mat-raised-button>Add</button>


        </div>
    </form>
    <button class="mat-raised-btn" routerLink="/categories" mat-raised-button>Back</button>

</div>