<div class="container">
    <div class="display">
        <h1>Blog categories...</h1>
    </div>

    <div class="console">
        <div class="flex-repeat-container">
            <div *ngFor="let id of categories" class="profile-card">
                <button class="category" (click)="setCurrentCategoriesName(id.categoryName)" (click)="setCurrentCategoriesId(id.categoryId.toString())" routerLink="/blog" mat-button>
                    {{id.categoryName}}
                </button>
            </div>
        </div>
    </div>

    <div class="footer">
        <p routerLink="/add-categories">+</p>
    </div>
    <button routerLink="/home">Back</button>
    <div class="footer">
        <mat-spinner *ngIf="this.loader.getLoading()"></mat-spinner>
    </div> 
   
</div>




