<html>
    <head>
        <link rel="stylesheet" href="app.component.css">
    </head>
    <body>
        <h1>hello world</h1>
---------------------------
<br>
<a routerLink="/create-account">Jessie's branch</a>
<br>
<a routerLink="/home">Gareth's branch</a>
<br>
<a routerLink="/login">Unknown's branch</a>
<br>
<a routerLink="/enter">UNKNOWN's branch</a>
<br>
<a routerLink="/create-profile">UNKNOWN's branch</a>
<br>
<a routerLink="/profile">Lalit's branch</a>
<br>


---------------------------

<router-outlet></router-outlet>
    </body>
</html>
