<div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
        <div class="display">
            <img src="../../assets/Images/workflix-logo.svg" alt="W">
        </div>
        <div class="signup-form">
            <h2>Create your account</h2>

            <div class="email-container">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="pat@example.com" formControlName="emailId" required>
                  <mat-error *ngIf="signupForm.get('emailId').invalid && (signupForm.get('emailId').dirty || signupForm.get('emailId').touched)">
                    <div class="error" *ngIf="signupForm.get('emailId').errors?.['required']">Email is required</div>
                    <div class="error" *ngIf="signupForm.get('emailId').errors?.['email']">Email must be a valid email address</div>
                  </mat-error>
                </mat-form-field>
            </div>

            <div class="middle-hello" *ngIf="signupForm.get('emailId').invalid && (signupForm.get('emailId').dirty || signupForm.get('emailId').touched)">
                <p>Hello</p>
            </div>

            <div class="email-container">
                <mat-form-field appearance="fill">
                  <mat-label>Confirm email</mat-label>
                  <input matInput placeholder="pat@example.com" formControlName="confirmEmail" required>
                  <mat-error *ngIf="signupForm.get('confirmEmail').errors?.['isMatching'] && (signupForm.get('confirmEmail').dirty || signupForm.get('confirmEmail').touched)">
                    <div *ngIf="signupForm.get('confirmEmail').errors?.['isMatching'] && (signupForm.get('confirmEmail').dirty || signupForm.get('confirmEmail').touched)">
                        Emails do not match.
                    </div>
                  </mat-error>
                </mat-form-field>
            </div>

            <div class="middle-hello" *ngIf="signupForm.get('confirmEmail').errors?.['isMatching'] && (signupForm.get('confirmEmail').dirty || signupForm.get('confirmEmail').touched)">
                <p>Hello</p>
            </div>

            <div class="email-container">
                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput formControlName="password" required>
                  <mat-error *ngIf="signupForm.controls?.['password'].invalid && (signupForm.controls?.['password'].dirty || signupForm.controls?.['password'].touched)">
                    <div *ngIf="signupForm.controls?.['password'].errors?.['required']">Password is required.</div>
                    <div *ngIf="signupForm.controls?.['password'].errors?.['minlength']">Minimum 8 characters</div>
                    <div *ngIf="signupForm.controls?.['password'].errors?.['passwordStrength']">Atlease one Uppercase and one Special character required</div>
                  </mat-error>
                </mat-form-field>
            </div>

            <div class="middle-hello" *ngIf="signupForm.controls?.['password'].invalid && (signupForm.controls?.['password'].dirty || signupForm.controls?.['password'].touched)">
                <p>Hello</p>
                <p>Hello</p>
            </div>

            <div class="email-container">
                <mat-form-field appearance="fill">
                  <mat-label>Confirm password</mat-label>
                  <input type="password" matInput formControlName="confirmPassword" required>
                  <mat-error *ngIf="signupForm.get('confirmPassword').errors?.['isMatching'] && (signupForm.get('confirmPassword').dirty || signupForm.get('confirmPassword').touched)">
                    Passwords do not match.
                  </mat-error>
                </mat-form-field>
            </div>

            <div class="middle-hello" *ngIf="signupForm.controls?.['password'].invalid && (signupForm.controls?.['password'].dirty || signupForm.controls?.['password'].touched)">
                <p>Hello</p>
            </div>

            <button [disabled]="!signupForm.valid">Sign up</button>
            <p>{{successMsg}}</p>
            <p>{{errMsg}}</p>
        </div>
        <div>
            <p>Already have an account? <a routerLink="/login">Login</a></p>
        </div>
    </form>

</div>
