<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <div class="display">
      <img src="../../assets/Images/workflix-logo.svg" alt="W">
    </div>
    <div class="signup-form">
      <h2>Create your account</h2>
    
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="loginId" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="signupForm.get('loginId').errors?.['required']">
          Login Id is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [errorStateMatcher]="matcher">
        <mat-error *ngIf="signupForm.get('password').errors?.['required']">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" [errorStateMatcher]="matcher">
        <mat-error ng-if="signupForm.controls['password'].value != signupForm.controls['confirmPassword'].value">
          Password<strong> match!!</strong>
        </mat-error>
      </mat-form-field>
      
      <button class="mat-raised-btn" mat-raised-button>Sign up</button>
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
    <p>{{successMsg}}</p>
    <p>{{errMsg}}</p>
  </form>

</div>