.body-class {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    text-align: center;
}

.back-image {
    width: 40px;
    height: 40px;
}

.header-design {
    background-color: #FFE1A8;
    width: 100%;
    padding: 15px 0 30px 0;
    text-align: center;
    font-size: 25px;
    border: 10px solid #FFE1A8;
}

.profile-button {
    margin: 0 15px 30px 15px;
    background-color: transparent;
    border: 0px;
}

.profile-button:hover {
    border: 2px solid black;
}

.button-and-name {
    display: inline;
    padding: 0;
}

.profile-image {
    width: 120px;
    height: width;
    border-radius: 30px;
}

p {
    color: #99582A;
    font-size: 20px;
    font-weight: bold;
}
.console{
    background-color: #FFE1A8;
    border-top: 5px solid #FFE1A8;
    padding: 0 20px;
}