.header-design {
    color: #99582A;
    padding: 20% 0 15% 0;
    text-align: center;
    font-size: 150%;
    background-color: #FFE1A8;
    margin-top: 5em;
}

.profile-button {
    margin: 0 15px 30px 15px;
    background-color: transparent;
    border: 0px;
}

.profile-button:hover {
    border: 2px solid black;
}

.button-and-name {
    display: inline;
}

.profile-image {
    width: 30vw;
    height: width;
    border-radius: 8vw;
}

p {
    color: #99582A;
    font-size: 20px;
    font-weight: bold;
}
.console{
    background-color: #FFE1A8;
}