


<div class="container">
    <div class="display">
        <h1>Profiles</h1>
    </div>
    <div class="console">
        <div class="flex-repeat-container">
            <div *ngFor="let id of profiles" class="profile-card">
                <mat-card>
                    <mat-icon (click)="deleteProfile(id)" class="deleteIcon" inline="flex-repeat-container">delete</mat-icon>
                    <img mat-card-image src="../../assets/Images/user1.png">
                    <mat-card-actions>
                        <button (click)="setCurrentProfileId(id.profileId); setCurrentProfileId(id.firstName)" routerLink="/home" mat-button>
                            {{id.firstName}} {{id.lastName}}
                        </button>
                        
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="footer">
        <p routerLink="/create-profile">+</p>
    </div>
    <button (click)="logout()" routerLink="/login">logout</button>
   
</div>

