<body class="body-class">
    <div class="header-design">
        <h1>Profiles</h1>
    </div>
    <div class="console">
        <div class="button-and-name">
            <button routerLink="/home" class="profile-button">
                <img class="profile-image" src="../../assets/Images/user1.png">
                <p>Anju</p>
            </button>
        </div>
        <div class="button-and-name">
            <button routerLink="/home" class="profile-button">
                <img class="profile-image" src="../../assets/Images/user2.png">
                <p>Lalit</p>
            </button>
        </div>
        <div class="button-and-name">
            <button routerLink="/home" class="profile-button">
                <img class="profile-image"
                    src="../../assets/Images/user3.png">
                <p>Gareth</p>
            </button>
        </div>
        <div class="button-and-name">
            <button routerLink="/create-profile" class="profile-button">
                <img class="profile-image"
                    src="../../assets/Images/Plus.png">
                <p>Add</p>
          </button>
        </div>
    </div>
</body>
