


<div class="container">
    <div class="display">
        <h1>Profiles</h1>
    </div>
    <div class="console">
        <div class="flex-repeat-container">
            <div *ngFor="let id of profiles" class="profile-card">
                <mat-card>
                    <img mat-card-image src="../../assets/Images/user1.png">
                    <mat-card-actions>
                        <button routerLink="/home" mat-button>{{id.userProfileId}}</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="footer">
        <p routerLink="/create-profile">+</p>
    </div>
    
</div>
