<div class="container">
    <div class="display">
        <h1>--- Blogs</h1>
    </div>
    <div class="console">
        <div class="flex-repeat-container">
            <div *ngFor="let id of blog" class="profile-card">
                <mat-card>
                    <mat-icon (click)="deleteBlog(id)" class="deleteIcon" inline="flex-repeat-container">delete</mat-icon>
                    <img routerLink="/blog-page" mat-card-image src="../../assets/Images/360_F_164848164_eDLcO5LcnBapZls7Kh8u8kCmhL1izZoU.jpg">
                    <mat-card-actions>
                        <button (click)="setCurrentBlogId(id.postId.toString())" routerLink="/blog-page" mat-button>
                            {{id.title}}
                        </button>
                        
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="footer">
        <mat-spinner *ngIf="this.loader.getLoading()"></mat-spinner>
        <p routerLink="/blog-page">+</p>
    </div>
    <button routerLink="/categories">Back</button>
   
</div>
