<div class="container">

    <form [formGroup]="profileForm" (ngSubmit)="onCreateProfile()">
        <div class="display">
            <img src="../../assets/Images/workflix-logo.svg" alt="W">
        </div>
        <div class="add-profile-form">
            <h2>Add New Profile</h2>
            <div class="email-container">
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput type="text" formControlName="emailId" placeholder="Email" readonly>
                </mat-form-field>
            </div>
            <div class="email-container">
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput type="text" formControlName="firstName" placeholder="Enter Username" readonly>
                </mat-form-field>
            </div>
            <button routerLink="/profile">Add</button>
        </div>
    </form>

</div>