<div class="container">

    <form [formGroup]="profileForm" (ngSubmit)="onCreateProfile()">
        <div class="display">
            <img src="../../assets/Images/workflix-logo.svg" alt="W">
        </div>
        <div class="add-profile-form">
            <h2>Add New Profile</h2>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" [errorStateMatcher]="matcher">
                <mat-error *ngIf="profileForm.get('firstName').errors?.['required']">
                    First Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" [errorStateMatcher]="matcher">
                <mat-error *ngIf="profileForm.get('lastName').errors?.['required']">
                    Last Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Profile Id</mat-label>
                <input matInput formControlName="profileId" [errorStateMatcher]="matcher">
                <mat-error *ngIf="profileForm.get('profileId').errors?.['required']">
                    Profile Id is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button class="mat-raised-btn"  mat-raised-button>Add</button>

        </div>
    </form>
    <button class="mat-raised-btn" routerLink="/profile" mat-raised-button>Back</button>

</div>