/* You can add global styles to this file, and also import other style files */

body, html {
    height: 100%;
  }
body{
    background-image: url("./assets/Images/background.jpg");
    margin:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
  --mdc-snackbar-container-color: #99582A

}
