.card-img-top {
    width: 150px;
    height: auto;
    padding: 10px;
}

.container-fluid{
    background-color: #FFE1A8;
    margin-top:50px;
    margin-bottom:50px;

}

::ng-deep .mat-expansion-panel-body {
    background-color: #FFE1A8;
}




