.upload-btn {
    background-color: #99582A;
}

.btn-switch-profile {
    background-color: #99582A;
    color: white;
}

a {
    color: black;
}

.btn-logout {
    background-color: #99582A;
    color: white;
}

h3 {
    color: #99582A;
}

.container-fluid {
    background-color: #FFE1A8;
    margin-top: 5em;
    padding-top: 50px;
    height: 80%;
}

.file-input {
    display: none;
}


.display {
    width: 10em;
    margin: auto;
}

.attach-btn {
    background-color: #99582A;
}

.upload-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
}

@media screen and (min-width: 1900px) {
    .container {
        width: 80%;
        margin-left: 10em;
    }

}

.example-viewport {
    height: 200px;
    width: 100%;
  }