<div class="container-fluid">
  <div class="text-center">
    <h3>{{currentProfileName}}</h3>
  </div>
  <mat-list>
    <div mat-subheader>My Files</div>
    <mat-list-item *ngFor="let file of files">
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle>{{file.fileName}}</div>
      <div matListItemLine>{{file.descriptions}}</div>
    </mat-list-item>
  </mat-list>
  <div class="text-center p-2">
    <button mat-fab routerLink="/upload" class="upload-btn">
      <mat-icon>cloud_upload</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
</div>

<button (click)="logout()" routerLink="/login">logout</button>
<button (click)="switchProfile()" routerLink="/profile">Switch Profile</button>